Repository sadik-malik/piplup: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

chore: bump package version
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
Due: none

chore(release): publish
  package-lock.json
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
Due: none

chore: added release script
  package.json
Due: none

chore: moved @piplup/rhf-core and @piplup/rhf-adapters to stable
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
Due: none

chore(release): publish
  package-lock.json
Due: none

chore(rhf-adapters): bump rhf-core version
  packages/rhf-adapters/package.json
Due: none

chore: enable auto generated changelogs
  nx.json
Due: none

chore: updated chromatic build script
  chromatic.config.json
Due: none

docs: added installation pages for cache-buster, react-acl, rhf-adapters and rhf-core
  apps/storybook-host/src/cache-buster/api.mdx
  apps/storybook-host/src/cache-buster/installation.mdx
  apps/storybook-host/src/introduction.mdx
  apps/storybook-host/src/react-acl/installation.mdx
  apps/storybook-host/src/rhf-adapters/installation.mdx
  apps/storybook-host/src/rhf-core/installation.mdx
  package-lock.json
  package.json
  packages/cache-buster/README.md
Due: nx format:write --files

chore: updated nx dependencies
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: none

chore: reset nx cache before build
  package.json
Due: none

chore: reset nx before building storybook
  package.json
Due: none

chore: add verbose flag to storybook build
  package.json
Due: none

chore: regenerate new package-lock.json
  package-lock.json
Due: none

feat(rhf-adapters): added components from react-number-format
  .eslintignore
  apps/storybook-host/.eslintignore
  apps/storybook-host/src/rhf-adapters/installation.mdx
  apps/storybook-host/src/rhf-adapters/react-number-format/number-format-base.stories.tsx
  apps/storybook-host/src/rhf-adapters/react-number-format/numeric-format.stories.tsx
  apps/storybook-host/src/rhf-adapters/react-number-format/pattern-format.stories.tsx
  package-lock.json
  package.json
  packages/cache-buster/.eslintignore
  packages/cache-buster/project.json
  packages/cache-buster/src/cache-buster.tsx
  packages/react-acl/.eslintignore
  packages/react-acl/project.json
  packages/rhf-adapters/.eslintignore
  packages/rhf-adapters/package.json
  packages/rhf-adapters/project.json
  packages/rhf-adapters/src/react-number-format/number-format-base/adapter.ts
  packages/rhf-adapters/src/react-number-format/number-format-base/classes.ts
  packages/rhf-adapters/src/react-number-format/number-format-base/element.tsx
  packages/rhf-adapters/src/react-number-format/number-format-base/index.ts
  packages/rhf-adapters/src/react-number-format/numeric-format/adapter.ts
  packages/rhf-adapters/src/react-number-format/numeric-format/classes.ts
  packages/rhf-adapters/src/react-number-format/numeric-format/element.tsx
  packages/rhf-adapters/src/react-number-format/numeric-format/index.ts
  packages/rhf-adapters/src/react-number-format/pattern-format/adapter.ts
  packages/rhf-adapters/src/react-number-format/pattern-format/classes.ts
  packages/rhf-adapters/src/react-number-format/pattern-format/element.tsx
  packages/rhf-adapters/src/react-number-format/pattern-format/index.ts
  packages/rhf-adapters/src/react-number-format/react-number-format.ts
  packages/rhf-core/.eslintignore
  packages/rhf-core/project.json
  packages/rhf-core/src/hooks/use-controller-adapter.ts
  packages/use-event-listener/.eslintignore
  packages/use-event-listener/project.json
  packages/use-local-storage/.eslintignore
  packages/use-local-storage/project.json
  packages/utils/.eslintignore
  packages/utils/project.json
  packages/vite-plugin-cache-buster/project.json
  tsconfig.base.json
Due: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

chore: updated dependencies
  package-lock.json
  package.json
Due: none

chore: added @rollup/rollup-linux-x64-gnu to optional dependencies
  package-lock.json
  package.json
Due: none

chore: added @esbuild/linux-x64 to optional dependencies
  package.json
Due: none

chore: removed verbose flag from build:storybook
  package.json
Due: none

docs: added note on adapters usage in rhf-adapters
  apps/storybook-host/src/rhf-adapters/installation.mdx
Due: nx format:write --files

chore: replace {projectRoot} with actual path
  packages/cache-buster/project.json
  packages/cache-buster/rollup.config.js
  packages/react-acl/project.json
  packages/react-acl/rollup.config.js
  packages/rhf-adapters/project.json
  packages/rhf-adapters/rollup.config.js
  packages/rhf-core/project.json
  packages/rhf-core/rollup.config.js
  packages/use-event-listener/project.json
  packages/use-event-listener/rollup.config.js
  packages/use-local-storage/project.json
  packages/use-local-storage/rollup.config.js
  packages/utils/rollup.config.js
  packages/vite-plugin-cache-buster/project.json
  packages/vite-plugin-cache-buster/rollup.config.js
Due: none

chore(release): publish
  apps/storybook-host/package.json
  package-lock.json
  packages/cache-buster/package.json
  packages/react-acl/package.json
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
  packages/use-event-listener/package.json
  packages/use-local-storage/package.json
  packages/utils/package.json
  packages/vite-plugin-cache-buster/package.json
Due: none

fix: rollup.config.js for additionalEntryPoints
  packages/cache-buster/rollup.config.js
  packages/react-acl/rollup.config.js
  packages/rhf-adapters/rollup.config.js
  packages/rhf-core/rollup.config.js
  packages/use-event-listener/rollup.config.js
  packages/use-local-storage/rollup.config.js
  packages/utils/rollup.config.js
  packages/vite-plugin-cache-buster/rollup.config.js
Due: none

chore: enable project level changelogs
  nx.json
Due: none

chore(release): publish
  apps/storybook-host/package.json
  package-lock.json
  packages/cache-buster/CHANGELOG.md
  packages/cache-buster/package.json
  packages/react-acl/CHANGELOG.md
  packages/react-acl/package.json
  packages/rhf-adapters/CHANGELOG.md
  packages/rhf-adapters/package.json
  packages/rhf-core/CHANGELOG.md
  packages/rhf-core/package.json
  packages/use-event-listener/CHANGELOG.md
  packages/use-event-listener/package.json
  packages/use-local-storage/CHANGELOG.md
  packages/use-local-storage/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/vite-plugin-cache-buster/CHANGELOG.md
  packages/vite-plugin-cache-buster/package.json
Due: none

chore: regenerated workspace package-lock.json
  package-lock.json
Due: none

chore: added prefer-workspace-packages
  .npmrc
  package-lock.json
  packages/utils/project.json
Due: none

chore: fixed rollup.config.js
  packages/cache-buster/project.json
  packages/cache-buster/rollup.config.js
  packages/react-acl/eslint.config.js
  packages/react-acl/project.json
  packages/react-acl/rollup.config.js
  packages/rhf-adapters/eslint.config.js
  packages/rhf-adapters/project.json
  packages/rhf-adapters/rollup.config.js
  packages/rhf-core/eslint.config.js
  packages/rhf-core/project.json
  packages/rhf-core/rollup.config.js
  packages/use-event-listener/eslint.config.js
  packages/use-event-listener/project.json
  packages/use-event-listener/rollup.config.js
  packages/use-local-storage/eslint.config.js
  packages/use-local-storage/project.json
  packages/use-local-storage/rollup.config.js
  packages/utils/eslint.config.js
  packages/utils/project.json
  packages/utils/rollup.config.js
  packages/vite-plugin-cache-buster/eslint.config.js
  packages/vite-plugin-cache-buster/project.json
  packages/vite-plugin-cache-buster/rollup.config.js
Due: none

chore: added release dry-run script
  package.json
Due: none

chore: fix rollup.config.js for additionalEntryPoints
  packages/rhf-adapters/rollup.config.js
  packages/rhf-core/rollup.config.js
Due: none

feat(rhf-adapters): added mui-color-input, mui-file-input and mui-one-time-password-input
  apps/storybook-host/src/cache-buster/installation.mdx
  apps/storybook-host/src/react-acl/installation.mdx
  apps/storybook-host/src/rhf-adapters/installation.mdx
  apps/storybook-host/src/rhf-adapters/mui-color-input/mui-color-input.stories.tsx
  apps/storybook-host/src/rhf-adapters/mui-files-input/mui-files-input.stories.tsx
  apps/storybook-host/src/rhf-adapters/mui-one-time-password-input/mui-one-time-password-input.stories.tsx
  apps/storybook-host/src/rhf-adapters/react-number-format/number-format-base.stories.tsx
  apps/storybook-host/src/rhf-adapters/react-number-format/pattern-format.stories.tsx
  apps/storybook-host/src/rhf-core/installation.mdx
  package-lock.json
  package.json
  packages/rhf-adapters/package.json
  packages/rhf-adapters/rollup.config.js
  packages/rhf-adapters/src/mui-color-input/adapter.tsx
  packages/rhf-adapters/src/mui-color-input/element.tsx
  packages/rhf-adapters/src/mui-color-input/mui-color-input.ts
  packages/rhf-adapters/src/mui-file-input/adapter.tsx
  packages/rhf-adapters/src/mui-file-input/element.tsx
  packages/rhf-adapters/src/mui-file-input/mui-file-input.ts
  packages/rhf-adapters/src/mui-one-time-password-input/adapter.tsx
  packages/rhf-adapters/src/mui-one-time-password-input/element.tsx
  packages/rhf-adapters/src/mui-one-time-password-input/mui-one-time-password-input.ts
  packages/rhf-core/src/hooks/internals/use-transform.ts
  packages/rhf-core/src/utils.ts
  packages/utils/README.md
  packages/utils/src/helpers/fork-ref.ts
  packages/utils/src/hooks/use-fork-ref.ts
  packages/utils/src/index.ts
  tsconfig.base.json
Due: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

feat(cache-buster): added a new hook useReleaseStatus
  packages/cache-buster/eslint.config.js
  packages/cache-buster/src/cache-buster.tsx
  packages/cache-buster/src/constant.ts
  packages/cache-buster/src/index.ts
  packages/cache-buster/src/logger.ts
  packages/cache-buster/src/release-status.ts
Due: nx affected:lint --files, nx affected:tsc --files

fix: fixed type warning for useMuiOtpInputAdapter
  packages/rhf-adapters/src/mui-one-time-password-input/adapter.tsx
Due: nx affected:lint --files, nx affected:tsc --files

fix(cache-buster): fixed rollup.config.js for bin folder
  packages/cache-buster/rollup.config.js
Due: none

fix(cache-buster): fixed status value in case enabled is false or window is undefined
  packages/cache-buster/src/release-status.ts
Due: nx affected:lint --files, nx affected:tsc --files

Path conditions:
  nx affected:lint --files: any of: {apps,packages}/**/src/**/*.{js,jsx,ts,tsx}
  nx affected:tsc --files: any of: {apps,packages}/**/src/**/*.{js,jsx,ts,tsx}
  nx format:write --files: any of: {apps,packages}/**/src/**/*.{css,scss,md,mdx}
