Repository sadik-malik/piplup: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

chore: added release config to nx.json for changelog and versioning
  nx.json
Due: none

chore: added commintlint
  .commitlintrc
  package-lock.json
  package.json
Due: none

chore: added prepare script
  .husky/commit-msg
  .husky/pre-commit
  package.json
  scripts/prepare.mjs
Due: none

chore: added package size badge
  README.md
  packages/cache-buster/package.json
  packages/react-acl/README.md
  packages/rhf-adapters/README.md
  packages/rhf-core/README.md
  packages/use-event-listener/README.md
  packages/use-event-listener/package.json
  packages/use-local-storage/README.md
  packages/use-local-storage/package.json
  packages/utils/README.md
  packages/vite-plugin-cache-buster/README.md
  packages/vite-plugin-cache-buster/package.json
Due: none

feat: reduced bundled size by optimizing babel configuration
  packages/cache-buster/.babelrc
  packages/react-acl/.babelrc
  packages/rhf-adapters/.babelrc
  packages/rhf-core/.babelrc
  packages/use-event-listener/.babelrc
  packages/use-local-storage/.babelrc
  packages/utils/.babelrc
  packages/vite-plugin-cache-buster/.babelrc
Due: none

chore: updated nx.json for release changelog
  nx.json
Due: none

feat: use Object.hasOwn if supported and updated stories
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/.storybook/manager.ts
  apps/storybook-host/.storybook/theme.ts
  apps/storybook-host/public/assets/logo-with-text.svg
  apps/storybook-host/public/assets/logo.svg
  apps/storybook-host/public/favicon.ico
  apps/storybook-host/src/introduction.mdx
  apps/storybook-host/tsconfig.storybook.json
  package-lock.json
  package.json
  packages/utils/src/helpers/has-own-property.ts
  packages/vite-plugin-cache-buster/.eslintrc.json
Due: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

fix(rhf-adapters): return checked instead of value from useMuiSwitchAdapter
  apps/storybook-host/src/rhf-adapters/mui-material/switch/switch.stories.tsx
  packages/rhf-adapters/src/mui/material/switch/adapter.ts
  packages/rhf-adapters/src/mui/material/switch/element.tsx
Due: nx affected:lint --files, nx affected:tsc --files

chore: added robots.txt to storybook static files
  apps/storybook-host/public/robots.txt
Due: none

chore: added sitemap.xml to storybook static files
  apps/storybook-host/public/sitemap.xml
Due: none

chore: update robots.txt
  apps/storybook-host/public/robots.txt
Due: none

chore: updated sitemap.xml for storybook
  apps/storybook-host/public/sitemap.xml
Due: none

chore: update sitemap.xml for storybook
  apps/storybook-host/public/sitemap.xml
Due: none

chore: added sitemap to robots.txt
  apps/storybook-host/public/robots.txt
Due: none

chore: updated nx config for release
  nx.json
Due: none

chore(release): publish
  package-lock.json
  packages/cache-buster/package.json
  packages/react-acl/package.json
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
  packages/use-event-listener/package.json
  packages/use-local-storage/package.json
  packages/utils/package.json
  packages/vite-plugin-cache-buster/package.json
Due: none

feat(rhf-adpaters): added loading button from @mui/lab
  packages/rhf-adapters/package.json
  packages/rhf-adapters/project.json
  packages/rhf-adapters/src/mui/lab/loading-button/adapter.ts
  packages/rhf-adapters/src/mui/lab/loading-button/element.tsx
  packages/rhf-adapters/src/mui/lab/loading-button/index.ts
  packages/rhf-adapters/src/mui/lab/mui-lab.ts
  packages/vite-plugin-cache-buster/package.json
Due: nx affected:lint --files, nx affected:tsc --files

chore: added analaytics to storybook and loading-button story
  apps/storybook-host/.storybook/analytics.ts
  apps/storybook-host/.storybook/preview.tsx
  apps/storybook-host/src/rhf-adapters/lab/loading-button.stories.tsx
  apps/storybook-host/tsconfig.json
  package-lock.json
  package.json
  packages/rhf-adapters/package.json
  tsconfig.base.json
Due: nx affected:lint --files, nx affected:tsc --files

fix(rhf-adpaters): loading indictor when form is submitting
  packages/rhf-adapters/src/mui/lab/loading-button/element.tsx
Due: nx affected:lint --files, nx affected:tsc --files

docs: updated domain url
  packages/rhf-adapters/README.md
  packages/rhf-core/README.md
Due: none

docs: added homepage url
  package.json
  packages/cache-buster/package.json
  packages/react-acl/package.json
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
  packages/use-event-listener/package.json
  packages/use-local-storage/package.json
  packages/utils/package.json
  packages/vite-plugin-cache-buster/package.json
Due: none

chore(release): publish
  package-lock.json
  packages/rhf-adapters/package.json
  packages/vite-plugin-cache-buster/package.json
  tsconfig.base.json
Due: none

fix(react-acl): must return false if no permission is matched
  packages/react-acl/src/acl-provider.tsx
  packages/react-acl/src/has-access.tsx
Due: nx affected:lint --files, nx affected:tsc --files

docs: added react-acl stories
  apps/storybook-host/src/react-acl/acl-provider.stories.tsx
  apps/storybook-host/src/react-acl/has-access.stories.tsx
  apps/storybook-host/src/react-acl/use-acl.mdx
Due: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

revert: react-acl should return true if permissions or roles are not provided
  packages/react-acl/src/acl-provider.tsx
Due: nx affected:lint --files, nx affected:tsc --files

docs(react-acl): updated README.md
  packages/react-acl/README.md
Due: none

chore(release): publish
  package-lock.json
  packages/react-acl/package.json
Due: none

chore: add chromatic
  .gitignore
  chromatic.config.json
  package-lock.json
  package.json
Due: none

feat(rhf-core): move imports for html components to @piplup/rhf-core/html
  apps/storybook-host/src/rhf-core/form-container.stories.tsx
  apps/storybook-host/src/rhf-core/html/button.stories.tsx
  apps/storybook-host/src/rhf-core/html/form-helper-text.stories.tsx
  apps/storybook-host/src/rhf-core/html/form-label.stories.tsx
  apps/storybook-host/src/rhf-core/html/input.stories.tsx
  apps/storybook-host/src/rhf-core/html/textarea.stories.tsx
  package.json
  packages/rhf-adapters/src/mui/lab/loading-button/adapter.ts
  packages/rhf-adapters/src/mui/material/button/adapter.ts
  packages/rhf-adapters/src/mui/material/checkbox/adapter.ts
  packages/rhf-adapters/src/mui/material/fab/adapter.ts
  packages/rhf-adapters/src/mui/material/filled-input/adapter.ts
  packages/rhf-adapters/src/mui/material/form-helper-text/adapter.ts
  packages/rhf-adapters/src/mui/material/form-label/adapter.ts
  packages/rhf-adapters/src/mui/material/icon-button/adapter.ts
  packages/rhf-adapters/src/mui/material/input-base/adapter.ts
  packages/rhf-adapters/src/mui/material/input-label/adapter.ts
  packages/rhf-adapters/src/mui/material/input/adapter.ts
  packages/rhf-adapters/src/mui/material/outlined-input/adapter.ts
  packages/rhf-adapters/src/mui/material/radio/adapter.ts
  packages/rhf-adapters/src/mui/material/textfield/adapter.ts
  packages/rhf-core/project.json
  packages/rhf-core/src/html/html.ts
  packages/rhf-core/src/index.ts
  tsconfig.base.json
Due: nx affected:lint --files, nx affected:tsc --files

feat(rhf-adapters): added MuiXDateFieldElement
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/date-field.stories.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/date-field/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/date-field/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/date-field/index.ts
  packages/rhf-adapters/src/mui/x-date-pickers/mui-x-date-pickers.ts
Due: nx affected:lint --files, nx affected:tsc --files

docs: updated stories
  apps/storybook-host/src/react-acl/acl-provider.stories.tsx
  apps/storybook-host/src/react-acl/has-access.stories.tsx
  apps/storybook-host/src/react-acl/use-acl.mdx
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/date-field.stories.tsx
Due: nx affected:lint --files, nx affected:tsc --files, nx format:write --files

feat(rhf-core): expose utilities functions and hooks used by rhf-core from @piplup/utils
  packages/rhf-core/project.json
  packages/rhf-core/src/hooks/internals/use-compose-rules.ts
  packages/rhf-core/src/hooks/internals/use-transform.ts
  packages/rhf-core/src/hooks/use-controller-adapter.ts
  packages/rhf-core/src/utils.ts
  tsconfig.base.json
Due: nx affected:lint --files, nx affected:tsc --files

fix(storybook): typo in adapter name
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/multi-section-digital-clock.stories.tsx
Due: nx affected:lint --files, nx affected:tsc --files

feat(rhf-adapters): added date time components from @mui/x-date-pickers
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/date-time-picker.stories.tsx
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/desktop-date-time-picker.stories.tsx
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/mobile-date-time-picker.stories.tsx
  apps/storybook-host/src/rhf-adapters/mui/x-date-pickers/static-date-time-picker.stories.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/date-calendar/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/date-calendar/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/date-field/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/date-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/date-time-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/date-time-picker/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/date-time-picker/index.ts
  packages/rhf-adapters/src/mui/x-date-pickers/desktop-date-time-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/desktop-date-time-picker/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/desktop-date-time-picker/index.ts
  packages/rhf-adapters/src/mui/x-date-pickers/digital-clock/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/internals/use-base-picker-adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/internals/use-compose-picker-rules.ts
  packages/rhf-adapters/src/mui/x-date-pickers/mobile-date-time-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/mobile-date-time-picker/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/mobile-date-time-picker/index.ts
  packages/rhf-adapters/src/mui/x-date-pickers/month-calendar/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/mui-x-date-pickers.ts
  packages/rhf-adapters/src/mui/x-date-pickers/multi-section-digital-clock/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/static-date-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/static-date-time-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/static-date-time-picker/element.tsx
  packages/rhf-adapters/src/mui/x-date-pickers/static-date-time-picker/index.ts
  packages/rhf-adapters/src/mui/x-date-pickers/static-time-picker/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/time-clock/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/time-field/adapter.ts
  packages/rhf-adapters/src/mui/x-date-pickers/year-calendar/adapter.ts
Due: nx affected:lint --files, nx affected:tsc --files

chore(release): publish
  package-lock.json
  packages/rhf-adapters/package.json
  packages/rhf-core/package.json
  tsconfig.base.json
Due: none

Path conditions:
  nx affected:lint --files: any of: {apps,packages}/**/src/**/*.{js,jsx,ts,tsx}
  nx affected:tsc --files: any of: {apps,packages}/**/src/**/*.{js,jsx,ts,tsx}
  nx format:write --files: any of: {apps,packages}/**/src/**/*.{css,scss,md,mdx}
